:root {
  font-family: "Martian Mono", monospace;
}

h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  margin: 1rem;
}

header {
  width: 100%;
  min-height: 5rem;
  background-color: rgb(34, 152, 255);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.add-book {
  width: 4rem;
  position: fixed;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.add-book:hover {
  color: rgb(34, 152, 255);
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.card .read {
  display: flex;
  align-items: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.form-container {
  position: relative;
  background-color: #fefefe;
  padding: 3rem 2rem;
  width: 45%; /* Could be more or less, depending on screen size */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.close-modal,
.remove-book {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 1.5rem;
  cursor: pointer;
}

.close-modal:hover,
.remove-book:hover {
  color: red;
}

.checkbox-container {
  display: flex;
  gap: 1.5rem;
}

#submit-button {
  border-style: none;
  background-color: black;
  color: #fefefe;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

#submit-button:hover {
  background-color: rgb(34, 152, 255);
  filter: drop-shadow(2px 5px 2px rgb(0 0 0 / 0.4));
}

.cards {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
}

.card {
  position: relative;
  background-color: #fafad4;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
}
